.jumbotron {
  padding-top: 6rem;
  background-color: #f8bc9a;
}
#about {
  background-color: #f8d49a;
}
#projects {
  background-color: #f8bc9a;
}

.card-body {
  background-color: #f7e6ca;
}
#contact {
  background-color: #f8d49a;
}
.btn {
  background-color: #f7e6ca;
}
footer {
  text-align: center;
  background-color: #f8bc9a;
}

section {
  padding-top: 5rem;
}
.nav-item {
  font-style: italic;
}
.rounded-circle {
  background-color: #f7e6ca;
}
